.create-member {
    width: 800px;
    margin-inline: auto;
    border: solid 1px #7c60607b;
    box-shadow: 0px 0px 5px 1px rgba(125, 120, 120, 0.622);
    background: white;
    border-radius: 10px;
    padding: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
